body {
  background-color: #0974f1;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  /* background-color: rgb(1, 60, 255); */
  background: hsla(303, 79%, 76%, 1);

  background: linear-gradient(
    90deg,
    hsla(303, 79%, 76%, 1) 0%,
    hsla(360, 86%, 67%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(303, 79%, 76%, 1) 0%,
    hsla(360, 86%, 67%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(303, 79%, 76%, 1) 0%,
    hsla(360, 86%, 67%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F292ED", endColorstr="#F36364", GradientType=1 );

  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;

  /*   left: 100px; */ /* Uncomment if you want to set a "starting" position */
  /*   top: 100px;  */ /* Uncomment if you want to set a "starting" position */
}
