body {
  background-color: black;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-image: url("grassBG60.png");
}

#score,
#highScore {
  color: white;
}

.snake,
.apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  z-index: 1;
}
